.footer {
  background: #fff6f0; /* Same background as header */
  color: #2c2c2c; 
  text-align: center;
  padding: 1.2rem 0.8rem; 
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06); /* Shadow on top of footer */
}


.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 0.8rem; 
  border-bottom: 1px solid #2c2c2c;
}

.footer__logo {
  font-size: 1.7rem; 
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.footer__socials {
  display: flex;
  gap: 12px; 
  justify-content: center;
  margin-top: 5px; 
}

.footer__socials li {
  list-style: none;
}

.footer__socials li a {
  color: #2c2c2c; 
  font-size: 1.3rem; 
  transition: color 0.3s ease-in-out;
}

.footer__socials li a:hover {
  color: #FFDAC1;
  transform: scale(1.05); 
}

.legal {
  font-size: 0.8rem; 
  color: #2c2c2c; 
  margin-top: 0.8rem; 
}

@media screen and (max-width: 768px) {
  .footer__content {
      flex-direction: column;
      text-align: center;
  }

  .footer__socials {
      margin-top: 10px;
  }
}
