/* ===== CONTAINER ===== */
.sectionContent {
  perspective: 1400px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #fff; /* white background behind character */
  padding: 50px 0;
}

.pixelCharacter3D {
  transform-style: preserve-3d;
  position: relative;
  width: 240px;
  height: 240px;
}

.charWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotateHead 12s infinite linear;
}

@keyframes rotateHead {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

/* ===== BASIC CUBE FACES ===== */
[class*="Front"] { transform: translateZ(10px); }
[class*="Back"] { transform: rotateY(180deg) translateZ(10px); }
[class*="Left"] { transform: rotateY(-90deg) translateZ(10px); }
[class*="Right"] { transform: rotateY(90deg) translateZ(10px); }
[class*="Top"] { transform: rotateX(90deg) translateZ(10px); }
[class*="Bottom"] { transform: rotateX(-90deg) translateZ(10px); }

[class*="Layer"] {
  position: absolute;
  transform-style: preserve-3d;
  background-color: #f2c6a0;
  border-radius: 50%;
}

/* ===== HEAD 15 LAYERS ===== */
.headLayer1  { width: 85px; height: 90px; top: 0px; left: 68px; }
.headLayer2  { width: 83px; height: 88px; top: 1px; left: 69px; }
.headLayer3  { width: 81px; height: 86px; top: 2px; left: 70px; }
.headLayer4  { width: 79px; height: 84px; top: 3px; left: 71px; }
.headLayer5  { width: 77px; height: 82px; top: 4px; left: 72px; }
.headLayer6  { width: 75px; height: 80px; top: 5px; left: 73px; }
.headLayer7  { width: 73px; height: 78px; top: 6px; left: 74px; }
.headLayer8  { width: 71px; height: 76px; top: 7px; left: 75px; }
.headLayer9  { width: 69px; height: 74px; top: 8px; left: 76px; }
.headLayer10 { width: 67px; height: 72px; top: 9px; left: 77px; }
.headLayer11 { width: 65px; height: 70px; top: 10px; left: 78px; }
.headLayer12 { width: 63px; height: 68px; top: 11px; left: 79px; }
.headLayer13 { width: 61px; height: 66px; top: 12px; left: 80px; }
.headLayer14 { width: 59px; height: 64px; top: 13px; left: 81px; }
.headLayer15 { width: 57px; height: 62px; top: 14px; left: 82px; }

/* ===== JAW 8 LAYERS ===== */
.jawLayer1 { width: 68px; height: 24px; top: 88px; left: 76px; border-radius: 6px; }
.jawLayer2 { width: 66px; height: 23px; top: 91px; left: 77px; border-radius: 6px; }
.jawLayer3 { width: 64px; height: 22px; top: 94px; left: 78px; border-radius: 6px; }
.jawLayer4 { width: 62px; height: 21px; top: 97px; left: 79px; border-radius: 6px; }
.jawLayer5 { width: 60px; height: 20px; top: 100px; left: 80px; border-radius: 6px; }
.jawLayer6 { width: 58px; height: 19px; top: 103px; left: 81px; border-radius: 6px; }
.jawLayer7 { width: 56px; height: 18px; top: 106px; left: 82px; border-radius: 6px; }
.jawLayer8 { width: 54px; height: 17px; top: 109px; left: 83px; border-radius: 6px; }

/* ===== CHIN 6 LAYERS ===== */
.chinLayer1 { width: 50px; height: 16px; top: 126px; left: 85px; }
.chinLayer2 { width: 48px; height: 16px; top: 129px; left: 86px; }
.chinLayer3 { width: 46px; height: 16px; top: 132px; left: 87px; }
.chinLayer4 { width: 44px; height: 16px; top: 135px; left: 88px; }
.chinLayer5 { width: 42px; height: 16px; top: 138px; left: 89px; }
.chinLayer6 { width: 40px; height: 16px; top: 141px; left: 90px; }

/* ===== CHEEKS 6 LAYERS EACH ===== */
.cheekLeftLayer1 { width: 22px; height:20px; top:58px; left:50px; transform: rotateY(-18deg); background-color:#f4b88c; }
.cheekLeftLayer2 { width:20px; height:18px; top:60px; left:51px; transform: rotateY(-13deg); background-color:#f4b88c; }
.cheekLeftLayer3 { width:18px; height:16px; top:62px; left:52px; transform: rotateY(-8deg); background-color:#f4b88c; }
.cheekLeftLayer4 { width:16px; height:14px; top:64px; left:53px; transform: rotateY(-5deg); background-color:#f4b88c; }
.cheekLeftLayer5 { width:14px; height:12px; top:66px; left:54px; transform: rotateY(-2deg); background-color:#f4b88c; }
.cheekLeftLayer6 { width:12px; height:10px; top:68px; left:55px; transform: rotateY(0deg); background-color:#f4b88c; }

.cheekRightLayer1 { width:22px; height:20px; top:58px; left:138px; transform: rotateY(18deg); background-color:#f4b88c; }
.cheekRightLayer2 { width:20px; height:18px; top:60px; left:137px; transform: rotateY(13deg); background-color:#f4b88c; }
.cheekRightLayer3 { width:18px; height:16px; top:62px; left:136px; transform: rotateY(8deg); background-color:#f4b88c; }
.cheekRightLayer4 { width:16px; height:14px; top:64px; left:135px; transform: rotateY(5deg); background-color:#f4b88c; }
.cheekRightLayer5 { width:14px; height:12px; top:66px; left:134px; transform: rotateY(2deg); background-color:#f4b88c; }
.cheekRightLayer6 { width:12px; height:10px; top:68px; left:133px; transform: rotateY(0deg); background-color:#f4b88c; }

/* ===== NOSE BRIDGE & TIP 5 LAYERS EACH ===== */
.noseBridgeLayer1 { width:14px; height:26px; top:52px; left:103px; background-color:#e6a77f; }
.noseBridgeLayer2 { width:12px; height:24px; top:54px; left:104px; background-color:#e6a77f; }
.noseBridgeLayer3 { width:10px; height:22px; top:56px; left:105px; background-color:#e6a77f; }
.noseBridgeLayer4 { width:8px; height:20px; top:58px; left:106px; background-color:#e6a77f; }
.noseBridgeLayer5 { width:6px; height:18px; top:60px; left:107px; background-color:#e6a77f; }

.noseTipLayer1 { width:12px; height:12px; top:78px; left:104px; background-color:#d99b7f; border-radius:3px; }
.noseTipLayer2 { width:10px; height:10px; top:80px; left:105px; background-color:#d99b7f; border-radius:3px; }
.noseTipLayer3 { width:8px; height:8px; top:82px; left:106px; background-color:#d99b7f; border-radius:3px; }
.noseTipLayer4 { width:6px; height:7px; top:84px; left:107px; background-color:#d99b7f; border-radius:3px; }
.noseTipLayer5 { width:4px; height:6px; top:86px; left:108px; background-color:#d99b7f; border-radius:3px; }

/* ===== LIPS TOP/BOTTOM 6 LAYERS ===== */
.lipTopLayer1 { width:34px; height:7px; top:118px; left:93px; background-color:#d97f6a; border-radius:3px; }
.lipTopLayer2 { width:32px; height:6px; top:119px; left:94px; background-color:#d97f6a; border-radius:3px; }
.lipTopLayer3 { width:30px; height:5px; top:120px; left:95px; background-color:#d97f6a; border-radius:3px; }
.lipTopLayer4 { width:28px; height:4px; top:121px; left:96px; background-color:#d97f6a; border-radius:3px; }
.lipTopLayer5 { width:26px; height:3px; top:122px; left:97px; background-color:#d97f6a; border-radius:3px; }
.lipTopLayer6 { width:24px; height:2px; top:123px; left:98px; background-color:#d97f6a; border-radius:3px; }

.lipBottomLayer1 { width:32px; height:5px; top:124px; left:94px; background-color:#c86a58; border-radius:3px; }
.lipBottomLayer2 { width:30px; height:4px; top:125px; left:95px; background-color:#c86a58; border-radius:3px; }
.lipBottomLayer3 { width:28px; height:3px; top:126px; left:96px; background-color:#c86a58; border-radius:3px; }
.lipBottomLayer4 { width:26px; height:2px; top:127px; left:97px; background-color:#c86a58; border-radius:3px; }
.lipBottomLayer5 { width:24px; height:2px; top:128px; left:98px; background-color:#c86a58; border-radius:3px; }
.lipBottomLayer6 { width:22px; height:2px; top:129px; left:99px; background-color:#c86a58; border-radius:3px; }

/* ===== EYES 5 LAYERS EACH ===== */
.eyeLeftLayer1, .eyeLeftLayer2, .eyeLeftLayer3, .eyeLeftLayer4, .eyeLeftLayer5 {
  width:14px; height:10px; top:58px; left:82px; background-color:#fff; border-radius:50%;
}
.eyeRightLayer1, .eyeRightLayer2, .eyeRightLayer3, .eyeRightLayer4, .eyeRightLayer5 {
  width:14px; height:10px; top:58px; left:124px; background-color:#fff; border-radius:50%;
}

/* Iris & pupil */
.irisLeft, .irisRight { width:5px; height:5px; border-radius:50%; background-color:#2d1f1b; position:absolute; top:60px; }
.irisLeft { left:86px; }
.irisRight { left:128px; }

/* ===== HAIR 10 LAYERS ===== */
.hairLayer1  { width:80px; height:20px; top:-5px; left:70px; background-color:#4b2e21; border-radius:4px; }
.hairLayer2  { width:78px; height:18px; top:-7px; left:71px; background-color:#4b2e21; border-radius:4px; }
.hairLayer3  { width:76px; height:16px; top:-9px; left:72px; background-color:#4b2e21; border-radius:4px; }
.hairLayer4  { width:74px; height:14px; top:-11px; left:73px; background-color:#4b2e21; border-radius:4px; }
.hairLayer5  { width:72px; height:12px; top:-13px; left:74px; background-color:#4b2e21; border-radius:4px; }
.hairLayer6  { width:70px; height:10px; top:-15px; left:75px; background-color:#4b2e21; border-radius:4px; }
.hairLayer7  { width:68px; height:8px; top:-17px; left:76px; background-color:#4b2e21; border-radius:4px; }
.hairLayer8  { width:66px; height:6px; top:-19px; left:77px; background-color:#4b2e21; border-radius:4px; }
.hairLayer9  { width:64px; height:4px; top:-21px; left:78px; background-color:#4b2e21; border-radius:4px; }
.hairLayer10 { width:62px; height:2px; top:-23px; left:79px; background-color:#4b2e21; border-radius:4px; }

/* ===== MICRO PIXELS ===== */
.microDetail {
  width: 1px;
  height: 1px;
  position: absolute;
  border-radius: 50%;
}